.roundProfile {
    width: 168px;
    height: 168px;
    position: relative;
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: 9px;
        z-index: 1;
    }
    .roundLive {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.smallProfile {
    width: 24px;
    height: 24px;
    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        z-index: 1;
    }
}

.roundStory {

    ul {
        display:flex;
        overflow-x:scroll;
        .margin {
            width:24px;
        }
        .oneStory{
            width: 89px;
            padding: 5px 15px 10px 15px;
            .oneRound {
                width: 87px;
                height: 87px;
                border-radius: 50%;
                border: 1.5px solid #ebebeb;
                display:flex;
                justify-content: center;
                align-items: center;
            }
            .storyName {
                padding-top: 15px;
                font-weight: 600;
                overflow-x: hidden;
            }
            img {
                width: 77px;
                height: 77px;
                border-radius: 50%;
            }
        }
    }
}