.profileFeed {
    width:935px;
    border-top: 1.5px solid #ebebeb;
    .menuBar {
        display: flex;
        width: 412px;
        margin: 0px auto;
        cursor: pointer;
        a {
            margin-right: 60px;
            height: 52px;
            display:flex;
            align-items: center;
            img {
                width: 9px;
                height: 9px;
            }
            span {
                font-size: 12px;
                margin-left:6px;
            }
        }
    }
    .feedComponents {
        display: flex;
        flex-wrap: wrap;
        width: 969px;
        .onePost {
            width: auto;
            height: auto;
            margin-right: 30px;
            margin-bottom: 30px;
            .image {
                object-fit:cover;
                width: 293px;
                height: 293px;
                z-index: 0;
            }
            .overImage {
                position: relative;
            }
            .type {
                width: 20px;
                position: absolute;
                top:10px;
                right:10px;
                z-index: 1;
            }  
        }
        .oneReel {
            width: auto;
            height: auto;
            margin-right: 30px;
            margin-bottom: 30px;
            .overImage {
                position: relative;
            }
            .image {
                object-fit:cover;
                width: 212px;
                height: 329px;
                z-index: 0;
            }
            .type {
                position: absolute;
                background: linear-gradient(transparent, rgba(black, 0.7));
                width: 180px;
                bottom: 0;
                left: 0;
                margin-bottom: 3px;
                padding: 16px;
                z-index: 1;
                span {
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                }
                img {
                    width: 12px;
                    margin-right: 10px;
                }
            }  
        }
        .oneIgtv {
            width: auto;
            height: auto;
            margin-right: 30px;
            margin-bottom: 30px;
            .image {
                object-fit:cover;
                width: 212px;
                height: 329px;
                z-index: 0;
            }
            .overImage {
                position: relative;
            }
            .time {
                position: absolute;
                top: 10px;
                right: 10px;
                color: white;
                font-size: 14px;
                font-weight: 300;
                z-index: 1;
            }
            .type {
                position: absolute;
                bottom:0;
                left:0;
                padding: 12px;
                margin-bottom: 3px;
                z-index: 2;
                color: white;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                background-image: linear-gradient(transparent, rgba(black, 0.8));
            }
        }
    }
}